@import "./reset.scss";
@import "./variabiles";
@import "./mixin";
@import "./responsive-breakpoints";
@import "./fonts.scss";

body {
	#header {
		@include borderNavbar;
		@include setSize(100px, 95%);
		@include centerDiv;
		background-color: $violet;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.5rem;

		#header__title {
			color: white;
			font-size: 2rem;
		}
	}

	#logo {
		background-image: url("../img/logo.png");
		background-size: contain;
		@include setSize(80px, 100px);
		background-position: center;
		background-repeat: no-repeat;
	}

	#navbar ul {
		display: flex;
		list-style-type: none;

		.textLinks {
			@include textNavbar;

			transition: all 0.5s ease-in-out;

			&:hover {
				padding: 2px 5px;
				background-color: white;
				border-radius: 5px;
				border: grey 1px solid;
				color: orange;
			}
		}
	}

	#main {
		padding: 3rem 6rem;
		display: flex;
		justify-content: space-between;

		@include tablet {
			flex-direction: column;
			margin-top: 1rem;
		}
	}

	#firstSection {
		padding-right: 1rem;
		.textOranged {
			color: $orange;
			font-size: 1.2rem;
		}

		.btnSection {
			background-color: $yellow;
			@include btnBorder;

			&:hover {
				background-color: $violet;
				color: white;
				cursor: pointer;
			}
		}
	}

	#aside {
		font-size: 1.5rem;
		line-height: 1.2;
		padding: 15px;

		@include borderAside;

		.aside__btn {
			background-color: rgb(72, 72, 245);
			color: white;
			@include btnBorder;
		}

		@include tablet {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 1rem;

			h2 {
				display: none;
			}

			.box {
				margin: 0 10px;
			}
		}
	}

	#footer {
		@include footer;
		background-color: $violet;
		font-size: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
