@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}

body {
  font-family: "Gemunu Libre", sans-serif;
}

body #header {
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 10px 5px 5px;
  height: 100px;
  width: 95%;
  margin: 0 auto;
  background-color: rgb(63, 27, 163);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
body #header #header__title {
  color: white;
  font-size: 2rem;
}
body #logo {
  background-image: url("../img/logo.png");
  background-size: contain;
  height: 80px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
}
body #navbar ul {
  display: flex;
  list-style-type: none;
}
body #navbar ul .textLinks {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}
body #navbar ul .textLinks:hover {
  padding: 2px 5px;
  background-color: white;
  border-radius: 5px;
  border: grey 1px solid;
  color: orange;
}
body #main {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  body #main {
    flex-direction: column;
    margin-top: 1rem;
  }
}
body #firstSection {
  padding-right: 1rem;
}
body #firstSection .textOranged {
  color: orange;
  font-size: 1.2rem;
}
body #firstSection .btnSection {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.6rem 1.3rem;
  margin-top: 5px;
}
body #firstSection .btnSection:hover {
  background-color: rgb(63, 27, 163);
  color: white;
  cursor: pointer;
}
body #aside {
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 15px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 10px 5px 5px;
  background-color: orange;
}
body #aside .aside__btn {
  background-color: rgb(72, 72, 245);
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.6rem 1.3rem;
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  body #aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  body #aside h2 {
    display: none;
  }
  body #aside .box {
    margin: 0 10px;
  }
}
body #footer {
  margin: 0 auto;
  height: 150px;
  width: 95%;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 10px 5px 5px;
  background-color: rgb(63, 27, 163);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
